<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.utvgo.huya">
    <!-- 内置SD卡读写权限4.0以上需要. -->
    <permission android:name="android.permission.WRITE_MEDIA_STORAGE" />
    <permission android:name="android.permission.READ_MEDIA_STORAGE" />

    <!-- 外置SD卡读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <application
        android:name=".HuyaApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:screenOrientation="landscape"
        android:theme="@style/AppTheme"
        android:largeHeap="true"
        >
        <!--<meta-data-->
            <!--android:name="com.google.android.actions"-->
            <!--android:resource="@xml/actions" />-->

        <activity android:name=".activity.LaunchActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="com.utvgo.huya.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.HomeActivity" >

        </activity>
        <activity android:name=".activity.NewHomeActivity" >

        </activity>

        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.BuyActivity" />

        <activity android:name=".activity.MediaAlbumActivity" >

        </activity>

        <activity android:name=".activity.QWebViewActivity" android:hardwareAccelerated="true"/>

        <activity android:name=".activity.TopicActivity" >

        </activity>

        <activity android:name=".activity.MediaListActivity" >

        </activity>

        <activity android:name=".activity.PlayVideoActivity" />

        <activity android:name=".activity.IntroduceActivity" />

        <activity android:name=".activity.UserCenterActivity">

        </activity>

        <activity android:name=".activity.ExitActivity" />

        <activity android:name=".activity.UserFavoriteActivity" >

        </activity>
        <activity android:name=".activity.UserPlayHistoryActivity" >

        </activity>

        <activity android:name=".activity.CategoryListActivity" >
        </activity>

        <activity android:name=".activity.ActivityActivity" >
        </activity>
        <activity android:name=".activity.ProgramListActivity" >
        </activity>
        <activity android:name=".activity.ExitNewActivity" >
        </activity>
        <activity android:name=".activity.AlbumListActivity" >
        </activity>

    </application>


</manifest>